body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
}

.container {
  margin-bottom: 20px;
}

#maze {
  border-collapse: collapse;
  border: 2px solid #ff79c6;
}

#maze td {
  width: 15px;
  height: 15px;
  background-color: black;
}

#maze td:hover {
  background-color: #ff79c6;
  cursor: pointer;
}